name: media_kit_libs_android_audio
description: Android package providing audio (only) native libraries for package:media_kit.
version: 1.1.1
homepage: https://github.com/alexmercerind/media_kit.git
repository: https://github.com/alexmercerind/media_kit.git
funding:
  - https://www.github.com/sponsors/alexmercerind

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.alexmercerind.media_kit_libs_android_audio
        pluginClass: MediaKitLibsAndroidAudioPlugin
